<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link href="/assets/site.css" rel="stylesheet" />
  <script src="/assets/js/htmx.min.js"></script>
  {% block head %}{% endblock %}
</head>

<body>
  <div class="page">
	  <header>RustSpace</header>
	  <nav>
		  <a href="/" {% if path == "index" %}class="active"{% endif %}>Home</a> 
		  <a href="/about" {% if path == "about" %}class="active"{% endif %}>About</a> 
		  <a href="/help" {% if path == "help" %}class="active"{% endif %}>Help</a>
		  <a href="/register" {% if path == "register" %}class="active"{% endif %}>Register</a>
	  </nav>
	  <main>
		  {% block content %}{% endblock %}
	  </main>
  </div<
</body>

</html>
