<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link href="/assets/site.css" rel="stylesheet" />
  <script src="/assets/js/htmx.min.js"></script>
  {% block head %}{% endblock %}
</head>

<body>
  <div class="page">
	  <header>RustSpace</header>
	  <nav>
		  <a href="/" {% if path == "index" %}class="active"{% endif %}>Home</a> 
		  <a href="/about" {% if path == "about" %}class="active"{% endif %}>About</a> 
		  <a href="/help" {% if path == "help" %}class="active"{% endif %}>Help</a>
		  {% if user.username.is_some() %}
			  <a href="/community" {% if path == "community" %}class="active"{% endif %}>Community</a>
			  <a href="/user" {% if path == "user" %}class="active"{% endif %}>User</a>
			  <a href="#" hx-get="/logout" hx-target="nav">Logout</a>
		  {% else %}
			  <a href="/register" {% if path == "register" %}class="active"{% endif %}>Register</a>
			  <a href="/login" {% if path == "login" %}class="active"{% endif %}>Login</a>
		  {% endif %}
	  </nav>
	  <main>
		  {% block content %}{% endblock %}
	  </main>
  </div<
</body>

</html>
