{% extends "base.html" %}
 
{% block title %}RustSpace: Community{% endblock %}
 
{% block head %}
  <link href="/assets/community.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<h1>Community</h1>


<section class="letters">
{% for letter in "ABCDEFGHJKLMNOPQRSTUVWXYZ".chars() %}
<button class="letter" hx-get="/community/search?page=0&letter={{letter}}" hx-target="#community">{{letter}}</button>
{% endfor %}
</section>

<section class="community" id="community">
{% for u in users %}
<li>
	<span class="at">@</span><a href="/profile/{{u.screen_name}}"><span class="screen_name">{{ u.screen_name }}</span></a>  
	{% if u.real_name.is_some() %}| <span class="name">{{u.real_name.as_ref().unwrap()}}</span>{% endif %}
	{% if u.gender.is_some() %}<span class="gender">({{u.gender.as_ref().unwrap()}})</span>{% endif %}
	{% if u.city.is_some() %}from <span class="city">{{u.city.as_ref().unwrap()}}</span>{% endif %}
</li>
{% endfor %}
</section>
<section class="record-count" id="count">
{% if records.is_some() %}
{{ records.as_ref().unwrap() }} users found
{% endif %}
</section>

{% endblock %}
