<div id="password-error-container"></div>
<form hx-put="/password" hx-target="#password-error-container">
	<div class="form-row">
		<label for="psw"><b>Old Password</b></label>
		<input type="password" placeholder="Enter Current Password" name="psw" id="psw" required>
	</div>
	
	<div class="form-row">
		<label for="new_psw"><b>New Password</b></label>
		<input type="password" placeholder="Enter New Password" name="new_psw" id="new_psw" required>
	</div>

	<div class="form-row">
		<label for="psw_repeat"><b>Repeat Password</b></label>
		<input type="password" placeholder="Repeat Password" name="psw_repeat" id="psw_repeat" required>
	</div>

	<div class="button-container">
		<button type="submit" class="form-btn">Send</button>
	</div>
</form>
