<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Not found</title>
		<link href="/assets/error.css" rel="stylesheet" />
	</head>

	<body>
		<div class="error-container">
			<div class="header">
				<h1>Post not found!</h1>
			</div>
			<div class="message">
				<p>There is no such post.</p>
			</div>
			<div class="footer">
				<a href="/" class="redir-btn">Go to main page</a>
			</div>
		</div>
	</body>
</html>
