{% extends "base.html" %}
 
{% block title %}Rustspace: {{post.title.as_ref().unwrap()}}{% endblock %}
 
{% block content %}
{% let post_id = post.id.as_ref().unwrap() %}
<h1>{{post.title.as_ref().unwrap()}}</h1>
<div class="post-data">
	by
	<a href="/profile/{{post.screen_name}}">
		{{post.screen_name}}
	</a>
</div>

<article class="post">
	{{post.content.as_ref().unwrap()}}
</article>
{% if owner %}
<section class="actions">
	<button class="action-btn" hx-delete="/blog/{{post_id}}">Delete</button>
	<a class="action-btn" href="/blog/{{post_id}}/edit">Edit</a>
</section>
{% endif %}

<h2>Comments</h2>
<div id="error-container-comment"></div>
<form hx-post="/blog/{{post_id}}/comments" hx-target="#error-container-comment">
	<div class="form-row">
		<label for="content"><b>Content</b></label>
		<input type="text" placeholder="Comment content" name="content" id="content" required>
	</div>

	<div class="button-container">
		<button type="submit" class="btn">Send</button>
	</div>
</form>

<section class="comments" id="comments" hx-get="/blog/{{post_id}}/comments" hx-trigger="load once">
</section>


{% endblock %}
