{% extends "base.html" %}

{% block head %}
  <link href="/assets/form.css" rel="stylesheet" />
{% endblock %}

{% block title %}Create post{% endblock %}

{% block content %}
<h1>Create post</h1>
<div id="error-container"></div>
<form hx-post="/blog" hx-target="#error-container">
	<div class="form-row">
		<label for="title"><b>Title</b></label>
		<input type="text" placeholder="Enter title" name="title" id="title" required>
	</div>
	<div class="form-row">
		<label for="content"><b>Content</b></label>
		<input type="text" placeholder="Post content" name="content" id="content" required>
	</div>

	<div class="button-container">
		<button type="submit" class="btn">Send</button>
	</div>
</form>
{% endblock %}
