{% extends "base.html" %}
 
{% block title %}Rustspace: {{username}}'s posts{% endblock %}
 
{% block content %}
<h1>{{username}}'s posts</h1>

<section class="posts" id="posts">
{% for post in posts %}
<h1>{{post.title.as_ref().unwrap()}}</h1>

<article class="post">
	{{post.content.as_ref().unwrap()}}
</article>
<a href="/blog/{{post.id.as_ref().unwrap()}}" class="post-link">Go</a>
{% endfor %}
</section>


<section class="page-nav" id="page-nav">
	<span class="current">0</span>
	{% if pages > 1 %}
	<button hx-get="/user/{{username}}/blog/page?page=1" hx-target="#posts">1</button>
	{% endif %}

	{% if pages > 3 %}
	…
	{% endif %}
	{% if pages > 2 %}
	<button hx-get="/user/{{username}}/blog/page?page={{pages-1}}" hx-target="#posts">{{pages-1}}</button>
	{% endif %}
</section>

<a href="/profile/{{username}}" class="profile-link">Back to profile</a>

{% endblock %}
