{% extends "base.html" %}
 
{% block title %}RustSpace: {{username}}'s profile{% endblock %}

{% block head %}
  <link href="/assets/user.css" rel="stylesheet" />
  <link href="/assets/profile.css" rel="stylesheet" />
{% endblock %}
 
{% block content %}
<h1>{{username}}'s profile</h1>

<section class="profile" id="profile">
{% if profile.is_some() %}
	<div class="profile-fields">
		{% let profile = profile.as_ref().unwrap() %} 
		{% if avatar %}
		<div class="avatar-container">
			<img src="/assets/avatars/{{username}}.png?{{timestamp}}" />
		</div>
		{% endif %}
		{% if profile.real_name.is_some() %}
		<div class="profile-field name">
			{{ profile.real_name.as_ref().unwrap()}}
			{% if profile.gender.is_some() %}
			<span class="gender">
				({{ profile.gender.as_ref().unwrap()}})
			</span>
			{% endif %}
		</div>
		{% if profile.city.is_some() %}
		<div class="profile-field city">
			{{ profile.city.as_ref().unwrap()}}
		</div>
		{% endif %}
		{% if profile.description.is_some() %}
		<div class="profile-field desc">
			{{ profile.description.as_ref().unwrap()}}
		</div>
		{% endif %}
		{% endif %}
	</div>
{% else %}
	<div class="profile-empty">No profile data</div>
{% endif %}
{% if owner %}
	<button class="field-btn" hx-target="#profile" hx-get="/forms/profile">Edit</button>
{% endif %}
</section>

{% if user.username.is_some() %}
<div id="error-container"></div>
{% if friend == FriendStatus::NotFriend %}
<button class="field-btn" id="friend-btn" hx-post="/friendships" hx-vals='{"username": "{{username}}"}' hx-target="#error-container">Send friend request</button>
{% else if friend == FriendStatus::Friend %}
<div class="field-btn friend" id="friend-btn">Friend</div>
{% else if friend == FriendStatus::Invitee %}
<div class="field-btn invited" id="friend-btn">Invited to friends</div>
{% else if friend == FriendStatus::Rejector %}
<div class="field-btn rejected" id="friend-btn">User rejected your friendship request</div>
{% endif %}
{% endif %}

{% endblock %}
