{% extends "base.html" %}

{% block head %}
  <link href="/assets/form.css" rel="stylesheet" />
{% endblock %}

{% block title %}Registration{% endblock %}

{% block content %}
<h1>Registration</h1>
<legend>Please fill in this form to create an account.</legend>
<div id="error-container"></div>
<form hx-post="/register" hx-target="#error-container">
	<div class="form-row" hx-target="this" hx-swap="outerHTML">
		<label for="username"><b>Username</b></label>
		<input type="text" hx-post="/validation/username" placeholder="Enter Username" name="username" id="username" required>
	</div>
	<div class="form-row" hx-target="this" hx-swap="outerHTML">
		<label for="email"><b>Email</b></label>
		<input type="text" hx-post="/validation/email" placeholder="Enter Email" name="email" id="email" required>
	</div>

	<div class="form-row" hx-target="this" hx-swap="outerHTML">
		<label for="psw"><b>Password</b></label>
		<input type="password" hx-post="/validation/psw" placeholder="Enter Password" name="psw" id="psw" required>
	</div>

	<div class="form-row" hx-target="this" hx-swap="outerHTML">
		<label for="psw_repeat"><b>Repeat Password</b></label>
		<input type="password" hx-post="/validation/psw_repeat" placeholder="Repeat Password" name="psw_repeat" id="psw_repeat" required>
	</div>

	<div class="button-container">
		<button type="submit" class="register-btn">Register</button>
	</div>
</form>

<div class="container signin">
	<p>Already have an account? <a href="#">Sign in</a>.</p>
</div>
{% endblock %}
