{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<h1>Registration</h1>
<p>Please fill in this form to create an account.</p>
<form hx-post="/register">
	<div class="form-row">
		<label for="username"><b>Username</b></label>
		<input type="text" placeholder="Enter Username" name="username" id="username" required>
	</div>
	<div class="form-row">

		<label for="email"><b>Email</b></label>
		<input type="text" placeholder="Enter Email" name="email" id="email" required>
	</div>

	<div class="form-row">
		<label for="psw"><b>Password</b></label>
		<input type="password" placeholder="Enter Password" name="psw" id="psw" required>
	</div>

	<div class="form-row">
		<label for="psw-repeat"><b>Repeat Password</b></label>
		<input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
	</div>

	<button type="submit" class="registerbtn">Register</button>
</form>

<div class="container signin">
	<p>Already have an account? <a href="#">Sign in</a>.</p>
</div>
{% endblock %}
