<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Unauthorized</title>
		<link href="/assets/error.css" rel="stylesheet" />
		<script src="/assets/js/htmx.min.js"></script>
	</head>

	<body>
		<div class="error-container">
			<div class="header">
				<h1>Authentication Error</h1>
			</div>
			<div class="message" hx-get="/to_login?path={{redir.as_ref().unwrap()}}" hx-trigger="load delay:2s once">
				<p>Oops! You are unauthorized to access this page.</p>
				<p>You will be redirected shortly.</p>
			</div>
			<div class="footer">
				<a href="/login?path={{redir.as_ref().unwrap()}}" class="redir-btn">Go to login</a>
			</div>
		</div>
	</body>
</html>
