label, input, button {
  margin: 0;
  padding: 0;
}

form {
  max-width: 400px;
  margin: 10px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

legend {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-row {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px s5olid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #e44d26;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #54271d;
}

.container.signin {
  margin-top: 20px;
  text-align: center;
}

.container.signin a {
  color: #e44d26;
  text-decoration: none;
}

.container.signin a:hover {
  text-decoration: underline;
}

.button-container {
	display: flex;
	justify-content: center;
}

.errors {
	max-width: 400px;
	margin: 20px auto;
	background: #fff3f3;
	padding: 20px;
	border: 1px solid #e44d26;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	animation: fadeInUp 0.3s ease-in-out;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.errors h2 {
	color: #e44d26;
	font-size: 1.3em;
	margin-bottom: 10px;
}

.error-list ul {
	list-style: none;
	padding: 0;
}

.error-list li {
	color: #e44d26;
	margin-bottom: 8px;
}

.error-list li::before {
	content: '\2022';
	color: #e44d26;
	display: inline-block;
	width: 1em;
	margin-right: 5px;
}
